---
layout: default
title: "Home"
---

<article>
  <h1>About Me</h1>
  
  <p>I currently work at <a href="https://lucidmotors.com/">Lucid Motors</a> as a Security Engineer, where I focus on identifying vulnerabilities in arm-based systems using static and dynamic analysis, crafting proof of concepts, and conducting threat analysis.</p>

  <p>I graduated from <a href="https://asu.edu">Arizona State University</a> in the summer of 2023 with a Master's degree in Computer Security. During my time at ASU, I was involved with <a href="https://sefcom.asu.edu/">SEFCOM</a>, primarily collaborating with <a href="https://www.tiffanybao.com/">Dr. Tiffany Bao</a>, as well as <a href="https://yancomm.net/">Dr. Yan Shoshitaishvili</a>, <a href="https://ruoyuwang.me/">Dr. Ruoyu (Fish) Wang</a>, and <a href="https://adamdoupe.com/">Dr. Adam Doupe</a>.</p>

  <p>My research at ASU focused on automated vulnerability analysis in application software, with a particular emphasis on fuzzing and dynamic patching.</p>

  <p>Before graduating from ASU, I interned at SEFCOM under Dr. Tiffany Bao.</p>

  <p>I also participated in CTF competitions with <a href="https://shellphish.net/">Shellphish</a>, where I concentrated on challenges related to Web Security and Reverse Engineering. Prior to joining Shellphish, I was a core member of <a href="https://bi0s.in">Team bi0s</a>.</p>

  <p>Connect with me on <a href="https://www.linkedin.com/in/gokulkrishna-p-menon-53369bb9">LinkedIn</a>.</p>
</article>

{% if site.show_excerpts %}
  {% for post in site.posts %}
    <article>
      {% include meta.html post=post %}
      {{ post.excerpt }}
      <footer class="button"><a href="{{ post.url | relative_url }}">read more</a></footer>
    </article>
  {% endfor %}
{% else %}
  {% capture source %}{% include_relative archive.html title="Posts" %}{% endcapture %}
  {{ source | split: "---" | last }}
{% endif %}
