---
---

@import utils, basic, layout, classes, rouge_github

body
  background: #000000
  padding: 0 calc(38% - 22rem)

article
  margin: 0
  padding: 0.5em 0

body > *
  background: #000000
  color: #ffffff
  padding: 1em calc(22% - 6rem)
  padding: clamp(0.8em, 3vw, 1em) max(1em, 22% - 6rem)
  box-shadow: none

body > header, body > footer
  background: #000000
  color: #ffffff

{% if site.show_frame contains "." %}

@media (min-width: 60em)
  body
    background: 0 0/cover url({{ site.show_frame | relative_url }})
    background-attachment: fixed
    color-scheme: only light
    padding: 1em calc(38% - 22rem)
    > :first-child
      border-radius: 4px 4px 0 0
    > :last-child
      border-radius: 0 0 4px 4px

{% endif %}
